.entity {
	padding: 1rem 0 !important;
	margin: 0 !important;
}

.entity:not(:last-child) {
	border-bottom: 1px solid rgb(51, 51, 51);
}

.column {
	display: block;
	overflow: hidden;
}

.column > * {
	margin-bottom: .7em !important;
}
