.container {
	display: flex;
	flex-direction: column;
}

.indicator {
	[class~=label] {
		margin-left: 0 !important;
	}

	[class~=icon] {
		margin-right: -1px;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
}

.loading {
	gap: .5em;
	display: inline-flex;
	align-items: center;
}

.past {
	font-weight: 500;
}

.future {
	opacity: .7;
}

.description {
	margin-left: calc(20px + .5em);
}

.error {
	@extend .description;
	font-weight: bold;
	font-style: italic;
}
